*{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-weight: bold;

}
body{
	background: url(../image/user.jpg);
	background-repeat: no-repeat;
	background-size:cover ;
}
h1{
	font-family: "微软雅黑" "bodoni mt";
	margin: 0px auto;
	text-align: center;
	font-size: 55px;
	color: #f0c869;
	
}
.size{
	width: 300px;
	height: 35px;
	border-radius: 5px;
	text-indent: 10px;
}
.sizearea{
	width: 300px;
	height: 100px;
	resize: none;
	border-radius: 5px;
	text-indent: 10px;
}
.myOwns{
	width: 500px;
	margin:0px auto;
}
.myOwns input{
	margin-bottom: 10px;
}
header a{
	text-decoration: none;
}
header input{
	width: 100px;
	height: 35px;
	border-radius: 5px;
	text-indent: 10px;
}
header span{
	color: red;
}
.clickshow{
	position:absolute;
	width:250px;
	height:300px;
	display: none;
}
.clickshow input{
	width: 170px;
	height: 35px;
	text-indent: 10px;
	border-radius: 5px;
}
.clickshow  .move{
	text-indent: 0px;
	width: 50px;
	
}
.clickshow div{
	margin-bottom: 10px;
}
.position{
	margin-left: 20px;
}
