*{
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	font-weight: bold;
  
}
body{
	background-color: #FCD230;
}
h1{
	font-family: "微软雅黑" "bodoni mt";
	margin: 0px auto;
	text-align: center;
	font-size: 55px;
	color: #f0c869;
}
header{
	margin-top: 0px;
	margin-left: 20px;
	height: 35px;
	line-height: ;
}
header input{
	width: 100px;
	height: 35px;
	border-radius: 5px;
	text-indent: 10px;
}
header span{
	color: red;
}
.clickshow{
	position:absolute;
	width:250px;
	height:300px;
	display: none;
}
.clickshow input{
	width: 170px;
	height: 35px;
	text-indent: 10px;
	border-radius: 5px;
}
.clickshow  .move{
	text-indent: 0px;
	width: 50px;
	
}
.clickshow div{
	margin-bottom: 10px;
}
.position{
	margin-left: 20px;
}
/*.mainpalce{
	display: none;
}*/
.no-on{
	width: 500px;
	margin: 40px auto;
}
ul li img{
	width: 100px;
	height: 100px;
}
ul li span{
	width: 30px;
	height: 10px;
	margin-left: 20px;
}
ul li textarea{
     resize: none;
     width: 500px;
     height: 100px;
     
}
ul{
	width: 500px;
	margin: 0px auto;
	list-style: none;
}

